html,
body,
#root {
  min-height: 100vh;
}

body,
#root {
  height: 100%;
}

body {
  background: rgb(17, 21, 28);
  color: #FFFFFF;
  background: linear-gradient(25deg, rgba(17, 21, 28, 1) 0%, rgb(2, 2, 61) 100%, rgba(0, 212, 255, 1));
  font-family: -apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  user-select: none;
  font-size: 1.4rem;
  line-height: 1.8rem;
}


#root {
  color: var(--white);

  a {
    outline: none;

    &:focus {
      outline: none;
    }
  }
}
